<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Vendors</title>
    <link rel="stylesheet" href="../static/css/vendors.css">
</head>

<body>

<div style="display:flex; justify-content:space-between; align-items:center;">
    <h2>Vendor List</h2>

    <button onclick="addVendor()">Add Vendor</button>
</div>

<div>
    <button onclick="loadVendors()">Load Vendors</button>
</div>

<div>
    <table border="1" id="vendorTable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Contact Person</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Gold Qty</th>
            <th>Price</th>
            <th>Website</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody></tbody>
    </table>
</div>
<div id="pagination" style="margin-top:20px;"></div>

<script src="../static/js/vendors.js"></script>

</body>
</html>